body {
    font-family: 'Roboto', sans-serif;
}
#grid_items {
    font-family: 'Muli', sans-serif;
}

.bk_zi {
    z-index: 2; 
    background-color: white;
}
.mxw-1649 {
    max-width: 1649px;
}

.arrow_dropdown {
    transform: rotate(90deg);
}

.custom_btn_search {
    font-size: 13px;
    font-weight: 800;
    height: 35px !important; 
    width: 120px !important; 
    cursor: pointer;
}

.btn_outline_light {
    border: 2px solid black;
    background-color: transparent;
    width: 75px;
    height: 40px;
}

.btn_filled_dark {
    border: 2px solid black;
    background-color: black;
    width: 75px;
    height: 40px;
    line-height: 32px;
}

@media (max-width: 990px) { 
    .btn_filled_dark { 
        width: 35%;
    }
    .btn_outline_light {
        width: 35%;
    }
}

.btn_outline_light_mobile_search {
    border: 2px solid black;
    background-color: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
}

.small_btn {
    width: 35px;
    height: 35px;
}

.white_text {
    color: white;
}

.mxw-main-container {
    max-width: 1920px;
}

.mxw-card-container {
    max-width: 1549px;  
}

.h7 {
    font-size: 0.7rem;
}

.custom_select {
    padding-top: 10px !important;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background: white url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='12' height='12' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='black'/></g></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 16px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
}

.custom_select_text {
    padding-top: 10px !important;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
}

.component_select {
    width: 100%;
}


.custom_select_sort {
    border: none;
    padding-top: 10px !important;
    width: 95%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 1px solid rgb(214, 214, 214);
    background: transparent;
    background: white url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='12' height='12' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='black'/></g></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 16px;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}

.label_for_select {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 5px;
    top: 12px;
    background-color: white;
    margin: 0;
}

.card_custom {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        transform: scale(0.5);
}

.border_body_hor_card{
    border: 2px solid rgba(0,0,0,.125);
}

.img_hor_card {
    min-width: 130px;
    max-width: 150px; 
    transform: scale(1.03);
}

.gray_text {
    color: gray;
}

@media (max-width: 520px) {
    .custom_select_sort {
        min-width: 100%;
    }
    .component_select {
        width: 100%;
    }
}

.icon_search {
    position: relative;
    bottom: 2px;
}